params {

	readDir = "sample"
	resultsDir = "results"
	library = "library.txt"
	forward_stranded = true
	barcode_random_length = 6
	barcode_demux_mismatches = 1
	barcode_demux_length = 4
	spacer_length = 20

}

process {
	cpus = 1
	maxForks = 1
	errorStrategy = 'retry'
	maxRetries = 3
}

profiles {

    standard {
        process.executor = 'local'
		singularity.enabled = true
		container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/crispr-nf.img'
		// process.container = 'zuberlab/crispr-nf:latest'
    }

	docker {
		process.executor = 'local'
		docker.enabled = true
		process.container = 'zuberlab/crispr-nf:latest'
	}

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
		process.memory = '10GB'
		singularity.enabled = true
		container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/crispr-nf.img'
		// process.container = 'zuberlab/crispr-nf:latest'
    }

	test {
		process.executor = 'local'
	}
}
