params {
	readDir = "reads"
	resultsDir = "results"
	library = "library.txt"
	barcodes = 'barcodes.txt'
	forward_stranded = true
	barcode_random_length = 6
	barcode_demux_mismatches = 1
	barcode_demux_length = 4
	spacer_length = 20
	padding_base = 'G'
}

timeline {
	enabled = true
}

singularity {
	enabled = true
}

process {
	cpus = 1
	maxForks = 1
	errorStrategy = 'retry'
	maxRetries = 3
	container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/crispr-nf.img'
}

profiles {

    standard {
        process.executor = 'local'
    }

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
		process.cpus = 1
		process.time = '1h'
		process.memory = '2GB'
		process.$fastqc.memory = '10GB'
		process.$demultiplex.time = '3h'
		process.maxForks = 10
    }

	slurm {
		process.executor = 'slurm'
		process.container = 'docker://zuberlab/crispr-nf'
		process.cpus = 1
		process.time = '1h'
		process.memory = '2GB'
		process.$fastqc.memory = '10GB'
		process.$demultiplex.time = '3h'
		process.maxForks = 10
		process.clusterOptions = '--qos=short'
	}

	test {
		process.executor = 'local'
		singularity.enabled = false
		process.maxForks = 3
	}
}
