params {

	readDir = "sample"
	resultsDir = "results"
	library = "library.txt"
	forward_stranded = true
	barcode_random_length = 6
	barcode_demux_mismatches = 1
	barcode_demux_length = 4
	spacer_length = 20

	R             = 'R/3.3.0'
	samtools      = 'samtools/1.3.1'
	bamtools      = 'bamtools/2.1.1'
	subread       = 'subread/1.5.0-p2'
	fastx_toolkit = 'fastx-toolkit/0.0.13'
	bowtie2       = 'bowtie2/2.2.1'

}

process {
	cpus = 1
}

profiles {

    standard {
        process.executor = 'local'
    }

	singularity_local {
		singularity.enabled = true
		process.executor = 'local'
		process.container = 'zuberlab/crispr-nf:latest'
	}

	docker_local {
		docker.enabled = true
		process.executor = 'local'
		process.container = 'zuberlab/crispr-nf:latest'
	}

    cluster_sge {
        process.executor = 'sge'
        process.penv = 'smp'
        process.queue = 'public.q'
        process.memory = '10GB'
    }
}
